.button {
  outline: 1px solid orange;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  font-weight: @regular;
  text-transform: uppercase;
  background-color: @green;
  color: @white;
  border: none;
  cursor: pointer;
}
