.catalog__title {
  font-family: "Oswald","Arial",sans-serif;
  font-size: @bigger;
  font-weight: @regular;
  text-align: left;
  line-height: @large;
  color: @header-text-color;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 35px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ededed;
  padding: 0 20px 24px;
}

