.copyright {
  outline: 1px solid purple;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: @smaller + 2;
  font-weight: @regular;
  line-height: @smaller + 2;
  color: @text-color;
}
