.energy-programs {
  outline: 1px solid pink;
  margin-top: 50px;
}

.energy-programs__title {
  font-size: @smaller + 10;
  font-weight: @regular;
  line-height: @bigger + 1;
  color: @header-text-color;
  text-transform: uppercase
}

.energy-programs__list {
  padding: 0;
  list-style: none;
}

.energy-programs__item {
  background-color: @light-grey;
}

.energy-programs__description {
  font-family: "Arial", sans-serif;
  font-size: @smaller;
  font-weight: @regular;
  line-height: @smaller + 4;
  color: @text-color;
}

.energy-programs__link {
  font-size: @smaller + 2;
  font-weight: @regular;
  line-height: @smaller +2;
  color: @header-text-color;
  text-transform: uppercase;
}
