.features {
  outline: 1px solid gray;
}

.features__list {
  list-style: none;
}

.features__description {
  font-family: Arial, sans-serif;
  font-size: @smaller;
  font-weight: @regular;
  line-height: @smaller + 4;
  color: @text-color;
}
