.form-section {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-section--cat-info {
  padding: 9px 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.form-section__item {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 0;

  &:active .form-section__text {
    opacity: 0.3;
  }
}

.form-section__item:hover .form-section__text.form-section__text--radio::before {
  border: 1px solid #bababa;
}

.form-section__item:hover .form-section__text.form-section__text--checkbox::before {
  border: 1px solid #bababa;
}

.form-section__item:hover .form-pic {
  fill: @green;
}

.form-section__text {
  margin: 0 10px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 4;
  color: @goods-name-color;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.form-section__text--tel {
  padding-top: 14px;
}

.form-section__input {
  display: inline-block;
  padding-left: 17px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 70px;
  // height: 45px;
  // min-width: 177px;
  color: @text-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 4;
  text-align: left;
  border: 1px solid rgba(205, 205, 205, 0.5);
  text-transform: uppercase;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border: 2px solid @text-color;
  }
}

.form-section__input--email {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.form-section__input--tel {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 15px;
  padding-left: 15px;
}

.form-section__text--name {
  margin-right: 15px;
  margin-top: 16px;
}

.form-section__text--weight {
  margin-right: 16px;
  margin-top: 16px;
}

.form-section__text--age {
  margin-top: 14px;
  margin-right: 15px;
}

.form-section__input--name {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;
  margin-top: 16px;
  flex-basis: 81%;
}

.form-section__input--weight {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  margin-top: 13px;
  flex-basis: 72%;
}

.form-section__input--age {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  margin-top: 13px;
  flex-basis: 59%;
}

.form-section__field--name {
  margin-right: 19px;
}

.form-section__field--weight {
  margin-right: 19px;
}

.form-section__field--age {
  margin-right: 19px;
}

.form-section__input--tel:invalid:not(:placeholder-shown) {
  border: 2px solid @error-color;
}

.form-section__input--tel:invalid:not(:placeholder-shown) + svg .form-pic {
  fill: @error-color;
}

.form-section__input--email:invalid:not(:placeholder-shown) {
  border: 2px solid @error-color;
}

.form-section__input--email:invalid:not(:placeholder-shown) + svg .form-pic {
  fill: @error-color;
}

.form-section__input:hover .mail-pic {
  fill: @green;
}

.form-section__input::-webkit-input-placeholder {
  color: @text-color;
}

.form-section__input::-moz-placeholder {
  color: @text-color;
}

/* Firefox 19+ */
.form-section__input:-moz-placeholder {
  color: @text-color;
}

/* Firefox 18- */
.form-section__input:-ms-input-placeholder {
  color: @text-color;
}

.form-section--choose-program {
  margin: 0 -20px;
  padding: 9px 20px;
  margin-top: 14px;
  padding-bottom: 22px;
  outline: 1px solid #cdcdcd;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}

.form-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-section__list-item {
  margin: 12px 0;
}

.form-section__list-item:last-child {
  margin-bottom: 0;
}

.form-section__text--checkbox,
.form-section__text--radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 0;
}

.form-section__radio:checked + .form-section__text--radio::before {
  background-image: radial-gradient(#68b738 0, #68b738 6px, #ffffff 7px, #ffffff 100%);
}

.form-section__text--radio::before {
  border-radius: 50%;
}

.form-section__text--checkbox::before,
.form-section__text--radio::before {
  display: block;
  content: "";
  flex-shrink: 0;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid @border-color;
  background-color: @white;
  box-sizing: border-box;
}

.form-section__checkbox:checked + .form-section__text--checkbox::before,
.form-section__text--checkbox:active::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px;
}

.form-section__title {
  position: relative;
  margin: 30px 0 33px;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-image: linear-gradient(to bottom, transparent 0, transparent 13px, #68b738 13px, #68b738 16px, transparent 16px, transparent 100%);
}

.form-section__title span {
  display: inline-block;
  padding: 0 20px;
  background-color: @white;
}

.form-section__title--owner-contacts {
  padding-right: 15px;
}

.form-section__title--comment {
  margin-top: 30px;
  margin-bottom: 35px;
}

.form-section__title--comment span {
  padding-right: 22px;
}

.form-section__icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  transform: translateY(-50%);
}

.form-section__icon--email {
  // right: 54px
}

.form-section__icon--tel {
  top: 65%;
  right: 13px;
}

.form-section__input-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.program-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-section__input--textarea {
  font-family: "Oswald", "Arial", sans-serif;
  height: 134px;
  padding-left: 14px;
  padding-top: 12px;
  resize: none;
  margin-bottom: 0;
}

.form-section__title--extra {
  margin-top: 28px;
  margin-bottom: 34px;
}

.form-section--extra {
  margin-bottom: 34px;
}

.form-section__wrapper--contacts {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .form-section__text {
    font-size: @smaller + 6;
    line-height: @smaller + 6;
    margin-right: 17px;
  }

  .form-section__text--tel {
    padding-top: 0;
  }

  // .form-section__wrapper--contacts {
  //   margin-bottom: 11px;
  // }

  .form-section__text--name {
    margin-top: 0;
  }

  .form-section__field {
    // margin-top: 16px;
    // margin-bottom: 16px;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-right: 40px;
    padding-left: 41px;
  }

  .form-section__field--email {
    margin-bottom: 0;
    margin-top: 14px;
    padding-left: 42px;
    padding-right: 35px;
    padding-bottom: 0;
  }

  .form-section__field--tel {
    padding-left: 38px;
    padding-right: 36px;
    padding-bottom: 0;
    margin-top: 19px;
  }

  .form-section__field--name {
    margin-top: 19px;
    padding-bottom: 3px;
    padding-right: 37px;
    margin-right: 0;
  }

  .form-section__field--weight {
    padding-bottom: 3px;
    padding-right: 37px;
    margin-right: 0;
  }


  .form-section__input {
    font-size: @smaller + 6;
    line-height: @smaller + 6;
    padding: 0;
    padding-left: 19px;
    height: 51px;
  }

  .form-section__input--tel {
    padding-left: 18px;
    padding-bottom: 0;
    margin-top: 0;
  }

  .form-section__input--name {
    padding-left: 17px;
    margin-top: 0;
  }

  .form-section__input--age {
    padding-left: 18px;
    margin-top: 16px;
  }

  .form-section__input--weight {
    padding-left: 18px;
    margin-top: 16px;
  }

  .form-section__input--email {
    padding-left: 21px;
  }

  .form-section__item {
    // padding-left: 40px;
    font-size: @smaller + 6;
  }

  .form-section--cat-info {
    padding: 0;
    margin-bottom: 69px;
  }

  .form-section__radio:checked + .form-section__text--radio::before {
    background-image: radial-gradient(#68b738 0, #68b738 9px, #ffffff 10px, #ffffff 100%);
  }

  .form-section__text--checkbox::before,
  .form-section__text--radio::before {
    margin-right: 19px;
    width: 40px;
    height: 40px;
  }

  .form-section--choose-program {
    margin-left: 42px;
    margin-right: 38px;
    margin-top: 53px;
    margin-bottom: 48px;
    padding-top: 13px;
    padding-left: 27px;
    padding-bottom: 25px;
  }

  .form-section__title {
    background-position: 0px 9px;
  }

  .form-section__title span {
    font-size: @bigger;
    line-height: @bigger;
    padding: 0 39px;
    margin-left: 31px;
    margin-bottom: 30px;
  }

  .form-section__title br {
    display: none;
  }

  .form-section--owner-contacts {
    margin-bottom: 35px;
  }

  .form-section__title--owner-contacts span {
    margin-left: 10px;
    padding-right: 42px;
  }

  .form-section__icon--email {
    right: 19px;
  }

  .form-section__icon--tel {
    right: 17px;
    top: 28px;
  }

  .form-section__title--owner-contacts {
    margin-bottom: 44px;
    padding-right: 15px;
    padding-left: 19px;
  }

  .form-section__text--weight {
    margin-right: 20px;
  }

  .form-section__field--age {
    padding-bottom: 3px;
    padding-right: 37px;
    margin-right: 0;
  }

  .form-section__title--comment {
    margin-top: 41zpx;
    margin-bottom: 46px;
  }

  .form-section__title--comment span {
    margin-bottom: 30px;
  }

  .form-section__field--textarea {
    padding-right: 37px;
    margin-bottom: 16px;
  }

  .form-section__input--textarea {
    padding-left: 17px;
    padding-top: 14px;
    padding-right: 17px;
    padding-bottom: 14px;
    height: auto;
    min-height: 144px;
  }

  .form-section__title--extra {
    margin-top: 45px;
    margin-bottom: 27px;
  }

  .form-section__list--check {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  .form-section__list--check .form-section__list-item {
    width: 325px;
    margin-top: 0;
    margin-bottom: 31px;
  }

  .form-section--extra {
    margin-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .form-section__wrapper {
    display: flex;
  }

  .form-section__field--name,
  .form-section__field--weight,
  .form-section__field--age,
  .form-section__field--email,
  .form-section__field--tel {
    padding-left: 0;
    padding-right: 40px;
  }

  .form-section--cat-info {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 44%;
    margin-bottom: 25px;
  }

  .form-section--choose-program {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 28px;
    flex-basis: 37%;
    padding-top: 12px;
    padding-right: 16px;
  }


  .form-section__title {
    margin-top: 23px;
  }

  .form-section__title span {
    margin-left: 70px;
    padding: 0 40px;
  }

  .form-section__wrapper--contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-section__field--email {
    flex-basis: 569px;
    padding-left: 0;
  }

  .form-section__text--email {
    margin-right: 19px;
  }


  .form-section__field--tel {
    flex-basis: 572px;
    padding-right: 0;
    margin-top: 14px;
  }

  .form-section__title--comment {
    margin-top: 32px;
  }

  .form-section__field--textarea {
    padding-right: 0;
    padding-left: 0;
  }

  .form-section__title--extra {
    margin-top: 48px;
  }

  .form-section__list--check {
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .form-section__text--checkbox::before,
  .form-section__text--radio::before {
    margin-right: 17px;
  }

  .form-section--extra {
    margin-bottom: 29px;
  }

  .form-section__title--owner-contacts {
    margin-bottom: 30px;
    margin-top: 41px;
  }

  .form-section__title--owner-contacts span {
    margin-left: 50px;
  }




}
