.live-case {
  background-color: @light-gray;
  outline: 1px solid red;
}

.live-case__row {
  list-style: none;
}

.live-case__quantity {
  font-size: @smaller + 10;
  font-weight: @regular;
  line-height: @smaller + 10;
  color: @header-text-color;
}

.live-case__quantity-description {
  font-family: "Arial", sans-serif;
  font-size: @smaller - 2;
  font-weight: @regular;
  line-height: @smaller -2;
  color: @text-color;
}

.live-case__food-costs {
  font-size: @smaller;
  font-weight: @regular;
  line-height: @smaller + 6;
  color: @header-text-color;
  text-transform: uppercase;
}

.live-case__right,
.live-case__left {
  font-size: @smaller + 2;
  font-weight: @regular;
  line-height: @smaller + 6;
  color: @header-text-color;
  text-transform: uppercase;
}


.live-case__text {
  font-family: "Arial", sans-serif;
  font-size: @smaller;
  font-weight: @regular;
  line-height: @smaller + 4;
  color: @text-color;
}
