.main-nav {
  border-top: 1px solid #e6e6e6;
  position: relative;
}


.main-nav__toggle-menu--close {
  position: absolute;
  top: -45px;
  right: 0;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
