.partnership__adress {
  margin: 0;
  min-width: 120px;
}

.partnership__wrapper {
  padding: 26px 20px 25px;
  display: flex;

}

.partnership__wrapper--grey {
  background-color: #f2f2f2;
}

.partnership__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  text-align: left;
  font-weight: @regular;
  color: @header-text-color;
  text-transform: uppercase;
}

