.partnership__adress {
  font-family: "Arial", sans-serif;
  margin: 0;
  min-width: 120px;
  text-align: right;
  text-align: left;
  padding-right: 19px;
  padding-top: 4px;
  white-space: nowrap;
}

.partnership__adress--city {
  display: block;
  margin-top: 3px;
}

.partnership__wrapper {
  padding: 26px 20px 25px;
  display: flex;
  justify-content: space-between;
}

.partnership__wrapper--grey {
  background-color: #f2f2f2;
  padding-bottom: 0;
}

.partnership__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  line-height: @smaller + 6;
  text-align: left;
  font-weight: @regular;
  color: @header-text-color;
  text-transform: uppercase;
  margin-top: 2px;
}

@media (min-width: @tablet-width) {
  .partnership__title {
    margin: 0;
    flex-basis: 155px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: @smaller + 6;
    line-height: @smaller + 11;
    text-align: left;
  }

  .partnership__adress {
    font-family: "Arial", sans-serif;
    font-size: @smaller + 2;
    line-height: @smaller + 6;
    text-align: right;
  }

  .partnership__adress--city {
    display: block;
    margin-top: 19px;
  }

  .partnership__wrapper--white {
    background-color: @white;
  }

  .partnership__wrapper {
    padding-top: 65px;
    padding-right: 72px;
    padding-left: 71px;
    padding-bottom: 62px;
    margin-top: 72px;
  }

  .partnership__city {
    margin-top: 1em;
  }
}

@media (min-width: @desktop-width) {
  .partnership {
    position: relative;
  }

  .partnership__wrapper {
    position: absolute;
    top: 89px;
    left: 113px;
    z-index: 2;
    margin-top: 0;
    padding-left: 72px;
    padding-top: 64px;
  }

  .partnership__title {
    margin-right: 14px;
  }

  .partnership__adress {
    text-align: left;
  }

}
