.product__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 2;
  font-weight: @regular;
  line-height: @smaller + 6;
  text-align: left;
  color: @header-text-color;
  text-transform: uppercase;

  width: 100%;
  max-width: 102px;
  padding-bottom: 10px;
  margin: 0;

  &:hover {
    color: @green;
  }
}

.product__title p {
  margin: 0;
}

.product__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: @smaller - 2;
  line-height: @smaller + 2;
}

.product__button {
  display: block;
  min-height: 40px;
  min-width: 280px;
  max-width: 480px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  z-index: 2;
  text-align: center;
  padding: 10px 20px;
  color: @white;
  background-color: @green;
  line-height: @smaller + 6;
  box-sizing: border-box;
  font-weight: @regular;

  &:hover {
    background-color: @deep-green;
  }

  &:active {
    background-color: @deep-green;
    color: rgba(255, 255, 255, 0.3);
  }
}

.product__field {
  text-align: left;
  padding-right: 53px;
}

.product__value {
  text-align: right;
}


@media (min-width: @tablet-width) {
  .product__wrapper {
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .product__link-image {
    width: 100%;
    height: 118px;
    padding-bottom: 33px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .product__image {
    display: flex;
    justify-content: center;
    height: auto;
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  .product__image img {
    width: 100%;
    height: auto;
  }

  .product__description {
    align-self: stretch;
    background-color: #f2f2f2;
    padding-top: 2px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: unset;
    min-width: 140px;
  }

  .product__title {
    margin: 0 auto;
    text-align: center;font-size: @smaller + 6;
  }

  .product__info {
    margin-top: 10px;
    margin-bottom: 33px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  .product__text{
    border-bottom: 1px solid @border-color;
    padding: 8px 0;
    font-size: @smaller + 2;
    line-height: @smaller + 1;
  }

  .catalog__item--more {
    background-color: @white;
    border: 1px solid #cdcdcd;
  }
}
