.promo {
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 1px solid green;
}

.promo__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: @bigger;
  font-weight: @regular;
  line-height: @bigger;
  text-align: center;
  color: @white;
}

.promo__button {
  font-size: @smaller;
  line-height: @smaller + 4;
}

.promo__tagline {
  font-size: @smaller;
  font-weight: @regular;
  line-height: @smaller;
  text-transform: uppercase;
  color: @white;
}
