body {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller;
  line-height: @smaller + 4;
  font-weight: @regular;
  color: @text-color;
  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  // min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


@media (min-width: @tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    padding: 0 111px;
    max-width: 1300px;
  }
}
