.site-list {
  background-color: @white;
}

.site-list__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: @smaller + 6;
  font-weight: @medium;
  line-height: @smaller + 6;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  color: @header-text-color;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
  white-space: nowrap;
}


@media (min-width: @tablet-width) {
  .site-list__item {
    font-weight: @regular;
    border: none;
    font-size: @smaller + 4;
    line-height: @smaller + 11;
    text-align: left;
  }

  .site-list__item--program {
    padding-right: 30px;
  }

  .site-list__link {
    display: block;
    margin: 0 18px;
    padding: 10px 0;
    text-align: center;
    color: #222222;
  }

  .site-list__link--main {
    padding: 0;
    padding-top: 13px;
    margin-right: 0;
  }

  .site-list__link--catalog {
  padding: 0;
  padding-top: 12px;
  margin-left: 34px;
  margin-right: 0;
  }

  .site-list__link--program {
    margin-right: 0;
    margin-left: 36px;
    padding-top: 13px;
    padding-bottom: 5px;
  }

  .site-list__link--active {
    pointer-events: none;
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    background-color: transparent;
  }

  .site-list__link {
    font-size: @smaller + 6;
    color: @header-text-color;
  }

  .site-list__link--index-active {
    border-bottom: 2px solid @white;
  }

  .site-list__link--form {
    color: @header-text-color;
  }

  .site-list__link--program {
    margin-left: 33px;
  }

  .site-list__link--catalog {
    margin-left: 34px;
  }

  .program-form__title {
    margin-top: 50px;
  }

  .program-form__tagline {
    padding-left: 0;
  }
}
